* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


.container {
    width: 100vw;
    /* height: 100vh; */
    background-color: rgb(169, 97, 236);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.filho {
    width: 80px;
    height: 80px;
    margin: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    /* flex-shrink: ; */
}