@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

header {
    background-color: white;
    opacity: 90%;
    width: 100vw;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 30px #00000038;

}

nav {
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

nav > li {
    display: flex;
    gap: 20px;
    cursor: pointer;
    font-style: none;
}

nav > li > ul {
    font-size: 1.2rem;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

section {
    width: 90%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}

.texto {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.texto > h1 {
    font-size: 40px;
}

.botao {
    background-color: #e2b88d;
    padding: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.fundo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
    left: 0;
    object-fit: cover;
}

.intermedio {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.74));
    top: 0;
    left: 0;
    z-index: -1;
}
.mulher {
    position: absolute;
    width: 290px;
    bottom: 0;
    right: 15%;
}

/* MEDIA QUERY */

/* Ajustes para telas menores, como celulares */
@media only screen and (max-width: 767px) {
    nav > li{
        display: none;
    }

    nav {
        justify-content: center;
    }

    section {
        justify-content: center;
    }

    .texto {
        width: 80%; /* Reduzir um pouco a largura do texto em telas menores */
        text-align: center; /* Centralizar o texto */
    }

    .mulher {
        display: none; /* Ocultar a imagem da mulher em telas menores */
    }
}

/* Ajustes para telas maiores, como computadores */
@media only screen and (min-width: 768px) {
    nav {
        justify-content: space-between;
    }

    .texto {
        width: 40%; /* Reduzir a largura do texto em telas maiores */
        text-align: left; /* Alinhar o texto à esquerda */
    }

    .mulher {
        display: block; /* Mostrar a imagem da mulher em telas maiores */
    }
}
