@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --collor-green: #006f2b;
    --collor-green-gradient: rgb(186, 243, 186);
    --collor-white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    
}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
}

.box-nav {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: var(--collor-green);
    font-weight: 600;
}

.itens {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 18px;
    color: var(--collor-white);
}

.itens > li > a {
    color: var(--collor-green);
    font-weight: 500;
}

main {
    width: 100vw;
}

.section1 {
    height: calc(100vh - 60px);
    background: linear-gradient(to right, var(--collor-green), var(--collor-green-gradient));
    padding: 0 57px;
    color: var(--collor-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section1 > h1 {
    font-size: 30px;
    margin-bottom: 22px;
}

.section1 button {
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    border-radius: 24px;
    color: var(--collor-green);
    font-weight: 600;
    font-size: 18px;
    margin-top: 32px;
    transition: all .6s;
    box-shadow: 4px 5px 1px var(--collor-green);
}

.section1 button:hover {
    color: var(--collor-white);
    background-color: var(--collor-green);
    box-shadow: none;   
}

.section2 {
    width: 100%;
    /* padding: 0 57px; */
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section2 > h2 {
    color: var(--collor-green);
    font-size: 22px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.card {
    width: 200px;
    height: auto;
    gap: 15px;
    padding: 25px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.373);
    text-align: center;
}

.card > h4 {
    font-size: 17px;
}

.faixa {
    width: 100%;
    height: 170px;
    background-color: var(--collor-green);
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.conteudo-faixa {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    background-color: var(--collor-white);
    color: var(--collor-green);
    font-weight: 600;
    font-size: 20px;
    border-radius: 100px;
}

.section3 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: var(--collor-green);
}

.section3 > h2 {
    color: var(--collor-white);
    font-size: 22px;
    margin-top: 70px;
}

.cards2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
}

.card2 {
    width: 200px;
    height: auto;
    gap: 15px;
    padding: 25px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--collor-white);
}

.card2 > i {
    color: var(--collor-white);
    padding: 20px;
    border-radius: 20px;
    border: #004b1de4 solid;
    border-width: 1px;
    font-size: 200px;
    box-shadow: -7px 7px 1px rgb(0, 0, 0);
    margin-bottom: 30px;
}

.card2 > h5 {
    font-size: 16px;
}