@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --collor-green: #006f2b;
    --collor-green-gradient: rgb(186, 243, 186);
    --collor-white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;

}

.box-nav {
    /* background-color: #006f2b; */
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.logo {
    color: var(--collor-green);
    font-weight: 600;
}
.itens {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 18px;
    color: var(--collor-white);
}

.itens > li > a {
    color: var(--collor-green);
    font-weight: 500;
}

main {
    width: 100vw;
    height: auto;
}
.section1 {
    height: calc(100vh - 60px);
    background: linear-gradient(to right, var(--collor-green), var(--collor-green-gradient));
    padding: 0 57px;
    color: var(--collor-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}